*, 
*::before, 
*::after{
box-sizing: border-box;
} 

*{
    margin:0; 
    
} 

body{ 
color: palevioletred;
align-items: center;
min-height: 100vh; 
background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50% ), url(./images/ekmeds-photos-DjLIn5mSptw-unsplash.jpg);
background-repeat: no-repeat; 
background-attachment: fixed;
background-size: cover;
background-position: center;
} 
.navbar2 {  
  width: 90%;
  height:75px; 
  display: flex;
  padding: 20px 10px;
  background: rgb(0, 0, 0); 
  border: none; 
  border-radius: 10px; 
  margin-left:50px;
}
.menu{ 
  color: limegreen; 
} 

.menu ul li{  
   margin-top: 15px;
   margin-right:70px;
   line-height: 5px;  
   float: left; 
   display: flex;
   justify-content:space-between; 
   padding-left:30px;
   
} 
.menu ul li a{
    text-decoration: none;
    color: whitesmoke;   
}
.wrapper{  
    margin-top: 100px;
    width: 450px;
    background: rgba(72, 6, 255, 0);
    border-radius: 40px; 
    border:2px solid #ffffff5e; 
    backdrop-filter:blur(20px);
} 

.wrapper h1{
    font-size:36px; 
    text-align:center; 

} 
.wrapper .input-box{
    width: 92%;
    height:50px; 
    background: salmon; 
    margin:30px 0; 
    margin-left:7px ;
    border-radius: 40px;
} 

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    border-radius: 40px;
    font-size:16px; 
    padding-left:30px ;
} 
.input-box input::placeholder{
    color:whitesmoke;
}

.input-box i{ 
    position: absolute; 
    transform:translateY(-50%);
    font-size:20px; 
    padding-top: 50px;
}
.remember-forgot{
    display: flex; 
    justify-content: space-between;
    font-size: 14px; 
    margin: -15px 0 15px; 
} 

.remember-forgot label input{
    accent-color: #fff;
    margin-right: 3px; 
} 

.remember-forgot a{
    color: #fff;
    text-decoration:none;
} 
.remember-forgot a:hover{
    text-decoration: underline;
}  

.wrapper .btn{
    margin-left:5px;
    width: 98%; 
    height: 45px; 
    background: #fff; 
    border: none; 
    outline:none; 
    border-radius:40px; 
    cursor:pointer;
    font-size:16px; 
    font-weight:600; 
} 

.wrapper .register-link{
    font-size: 14px;
    text-align:center; 
    margin-top: 20px; 
    
} 
.register-link p a{
    color:#fff;
    text-decoration: none; 
    font-weight: 600; 
}  
.register-link p :hover{
    text-decoration: underline;
} 